.refresh-animation{
  position: absolute;
  z-index: 1000;
  top: 0px;
  height: 0px;
  width: 160px;
  background-color: #303030;
  overflow: hidden;
  text-align: center;
  border-radius: 0 0 90px 90px;
}
.refresh-image{
  max-width:50%;
  max-height:50%;
  margin: 10%;
}